@using MvcKursad.Models.Entity
@model List<urunler>
@{
    Layout = null;
}
@RenderBody()
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>KURSAD-S SHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/acss/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="iecss.css" />
    <![endif]-->
    <script type="text/javascript" src="~/acss/js/boxOver.js"></script>

</head>
<body>
    <div id="main_container">
        <div id="header">

        </div>
        <div id="main_content">
            <div id="menu_tab">
                <p>
                    <font face="tahoma" size="3" color="white">
                        <center><b>2018507027 YBS 3.SINIF | KÜRŞAD ALMAZ GÖRSEL PROGRAMLAMA FİNAL ÖDEVİ </b></center>
                    </font>
                </p>


            </div>
            <!-- end of menu tab -->

            <div class="left_content">
                <div class="title_box"><font size="4" color="DarkBlue"><b>MENÜ</b></font></div>
                <ul class="left_menu">
                    <li class="even"><a href="~/liste/Index"><p><font size="2" color="black"><strong>Bütün Ürünler</strong></font></p></a></li>
                    <li class="even"><a href="~/notebook/Notebook"><p><font size="2" color="black"><strong>Dizüstü Bilgisayarlar</strong></font></p></a></li>
                    <li class="even"><a href="/Masaustu/Masaustu"><p><font size="2" color="black"><strong>Masaüstü Bilgisayarlar</strong></font></p></a></li>
                    <li class="even"><a href="/aksesuar/Aksesuar"><p><font size="2" color="black"><strong>Aksesuarlar</strong></font></p></a></li>
                </ul>

            </div>
            <!-- end of left content -->
            <div class="center_content">

                @foreach (var urun in Model)
                {
                    <div class="prod_box">
                        <div class="center_prod_box">
                            <div class="product_title"><a href="#">@urun.urunbaslik</a></div>
                            <div class="product_img"><a href="#"><img src="@urun.urunresim" alt="" border="0" /></a></div>
                            <div class="prod_price"><span>@urun.urunfiyat</span></div>
                        </div>
                        <div class="prod_details_tab"> <a href="#" class="prod_buy">Sepete Ekle</a> <a href="#" class="prod_details">Detaylar</a> </div>
                    </div>
                }
            </div>
            <!-- end of center content -->


        </div>


    </div>
    <!-- end of right content -->
    <!-- end of main content -->
    <div class="footer">
        <div class="left_footer"> </div>
        <div class="center_footer">


            <img src="~/acss/images/payment.gif" alt="" />
        </div>

    </div>

    <!-- end of main_container -->
</body>
</html>
